*,
*::before
*::after{
    box-sizing: border-box;
    
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


ul{
    list-style: none;
}
a{
    text-decoration: none;
}
header{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-left: 8.43%;
   margin-right: 9.5%;
   
}

.logo{
    margin-top: 25px;
    margin-left: 1.3vw;

}
 
.header-logo{
    width: 7rem;
}

.nav-ul{
    display: flex;
  
    
}
.nav-ul li a{
    margin-left: 4rem;
    color: #454545;
}

.grade{
    margin-left: 8.43%;
    
    max-width: 500px;
    height: 300px;
   position: absolute;
   left: 20px;
   top: 110px;
}

.grade h1{
    font-family: 'BPG Nino Mtavruli';
    font-size: 2rem;
}

.grade p{
    font-family: 'FiraGO-Book';
    font-size: 1.125rem;
    margin-left: 5px;
    font-size: 16px;
    
}
.grade button{
    cursor: pointer;
    padding: 11.6px;
    width: 48.19%;
    font-size: 1.375rem;
    background: transparent linear-gradient(270deg, #F19767 0%, #F8B963 100%) 0% 0% no-repeat padding-box;
    border-radius: 20px;
    border-style: none;
}


.first-container{
    display: flex;
    
    
    justify-content: flex-end;
    height: 40vw;
    position: relative;
}

.first-background{
    
    width: 60%;
    height: 100%;
    margin-right: 0px;
    
}
.first-background-img{
   
    width: 100%;
   
}

.second-container{
    
    width: 80.54%;
    height: 600px;
   
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.secon-container-text span{
    margin-top: 5rem;
    
}
.secon-container-text span {
    display: block;
    margin-top: 30px;
 }

.second-backghround{
    width: 100%;
}

.second-container p{
    width: 464px;
    height: 500px;
    line-height: 1.65;
    
    font-size: 14px;
    
}

.second-container h2{
    font-family: "BPG Nino Mtavruli", sans-serif;

}
.photo2{

    
   width: 541px;
   margin-left:8.375vw ;
 
}

.third-container{
   
    display: flex;
    justify-content: space-between;
    width: 82%;
    margin: 0 auto;
    margin-top: 20px;
}

.third-container h2{
    font-size: 1.75rem;
    margin-left:8.375vw ;
}
.third-container-photo{
    
    width: 548px;
}
.third-background{
    width: 100%;
}
.third-container p{
    margin-left: 8.375vw ;
    width: 487px;
    line-height: 1.7;
    font-size: 14px;
    color: #454545;
    
}

.table-title{
    font-size: 1.75rem;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 0.42px;
   color: #454545;
   font-weight: bold;
   margin-top: 100px;
   text-transform: uppercase;
  
   font-family: "BPG Nino Mtavruli", sans-serif;

}
.table{
    box-shadow: 0px 6px 12px #00000029;
   
    width: 68.75%;
   margin: 0 auto;
  
   margin-bottom: 70px;
   display: flex;
   
    /* display: grid; */
    flex-wrap: wrap;
   border-radius: 15px;
    
    
}
.table div{
    border-top: 1px white solid;
    height: 59.2px;
    
    
    
}
.table p{
    margin: 0;
    border-top: 1px white solid;
    height: 59.2px;
  
    width: 20%;
    
    align-items: center;
    color: #666666;
    background: #E8EAEB;
    display: flex;
    text-align: left;
    
   
  
}

.table p:nth-child(-n+5){
    background-color: #DCE4ED ;
    color: #454545;
    font-weight: bold;
    font-size: 1.25rem;
}


.table p:nth-child(1){
    border-top-left-radius: 15px;
}
.table p:nth-child(56){
    border-bottom-left-radius: 15px;
}
.table p:nth-child(5){
    border-top-right-radius: 15px;
}

.table p:last-child{
    border-bottom-right-radius: 15px;
}

.table p span{
  
    margin-left: 25px;
}

.sighns{
    font-weight: 900;
    font-size: 20px;
    color: #454545  !important;
    margin-left: 10px;
}
.bold{
    font-weight: bold;
}


.table2 div:nth-child(1){
    border-top-left-radius: 15px;
}
.table2 div:nth-child(10){
    border-bottom-left-radius: 15px;
}
.table2 div:nth-child(3){
    border-top-right-radius: 15px;
}

.table2 div:last-child{
    border-bottom-right-radius: 15px;
}


.table2{
    margin-top: 100px;
    width: 68.75%;
    margin: 0 auto;
    box-shadow: 0px 6px 12px #00000029;
    border-radius: 15px;
    opacity: 0.73;
    display: flex;
    flex-wrap: wrap;
   margin-bottom: 100px;
}

.table2-title{
    font-size: 1.25rem;
    margin-left: 16vw ;
    color: #454545;
    margin-bottom: 40px;

}

.table2 div{
    height: 99.25px;
    width: 33.33%;
    border-top: 1px solid white;
    display: flex;
    align-items: center;
    background: #DCE4ED 0% 0% no-repeat padding-box;
}
.table2 p{
    color: #454545;
    margin-left: 5rem;
}

.contact-form{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 29.9%;
    justify-content: space-between;
    margin-bottom: 110px ;
    
}
.form {
    
   
}
form input{
    width: 98%;
    
}
form button{
    width: 100%;
    height: 47.23px;
    border-radius: 15px;
    border: none;
    background: transparent linear-gradient(270deg, #F19867 0%, #F8B863 100%) 0% 0% no-repeat padding-box;
}

form input{
    margin-bottom: 10px;
    border-radius: 25px;
    height: 40px;
    border: 1px solid #707070;
}
input:focus{
    outline: none;
}
.message-box{
    height: 97px;
}
.contact-form  h2{
    text-align: center;
    line-height: 0;
    
    margin-bottom: 10px;
}
.contact-form p{
    font-size: 0.875rem;
    line-height: 1.5;
    color: #454545;
}
form{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
   
}

footer{
    width: 100%;
    height: 360px;
    background: transparent linear-gradient(180deg, #5A1859 0%, #6F1B54 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    display: flex;
    color: #FFFFFF;
    
   
}

.middle-section{
    opacity: 0.7;
    display: flex;
    margin-top: 40px;

}


.middle-section ul{
    margin-top: 0;
    margin-right: 5vw;
   
    width: 500x;
}
.middle-section ul li a{
    color: #FFFFFF;
   
}
.middle-section ul li a p{
    margin: 0 0 8px 0;
    
    width: 150px;

}
.middle-section ul li a p span{
    font-size: 1.25rem;
    line-height: 2.5;
    
   
}
.contact-ul{
    margin-left: 4vw;
    margin-right: 12vw;
    opacity: 0.7;
}

.footer-right{
    opacity: 0.7;
    margin-left: 6vw;
    margin-top: 45px;
    
    min-width: 200px;
    margin-right: 40px;
    
}

.footer-right p:first-child{
    margin-left: 40px;
}

.footer-right p:last-child{
    margin-top: 180px;
}

.social-ul{
    display: flex;
}

.social-ul li{
    margin-right: 20px;
}

.social-ul li i{
    font-size: 1.5rem;
    color: white;
    opacity: 0.7;
}

.footer-logo{
    height: 70px;
    margin-top: 40px ;
    margin-bottom: 5px;
}

.contact-ul p{
    margin-bottom: 30px;
    line-height: 1.5;
    font-size: 1.125rem;
}

@media (max-width: 1474px){
    .footer-right{
        margin-left: 3vw;
    }
    .contact-ul{
        margin-right: 4vw;
    }
}

@media (max-width: 1350px){
    .photo2{
        margin-left: 5vw;
    }
    .third-container p{
        margin-left: 5vw;
    }

}
@media (max-width: 1255px){
    .photo2{
        margin-left: 2vw;
    }
    .third-container p{
        margin-left: 2vw;
    }
}

@media (max-width: 1245px){
    .footer-right{
        margin-left: 1.5vw;
    }
    .contact-ul{
        margin-right: 2vw;
    }
    .middle-section ul{
        margin-right: 3vw;
    }
}

@media (max-width: 929px){
    .footer{
       width: 500px !important; 
    }
}